<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.mattheworiordan.remi</string>
	<key>CFBundleName</key>
	<string>remi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>remi.icns</string>
	<key>NSRemindersUsageDescription</key>
	<string>remi needs access to Apple Reminders to create, read, update, and organize your reminders and sections.</string>
</dict>
</plist>
